{{define "suggest-hotspot"}}
  <section class="suggest-hotspot sidebar sidebar--from-right sidebar--hidden">
    <div class="sidebar__obfuscator"></div>
    <main class="suggest-hotspot__content sidebar__content">
      <header class="suggest-hotspot__content__header toolbar toolbar--with-action">
        <button type="button" class="suggest-hotspot__content__header__back button button--flat toolbar__action">
          <svg class="icon">
            <use xlink:href="/static/images/icons.svg#arrow-back" />
          </svg>
        </button>
        <h2 class="suggest-hotspot__content__header__title toolbar__title toolbar--with-action__title">Suggest Hotspot</h2>
      </header>
      <form class="suggest-hotspot-select select-list">
        <ul class="suggest-hotspot-select__body">
          <!-- input here -->
        </ul>
      </form>
    </main>
  </section>
{{end}}
